.password-toogle-content {
    position: relative;
    cursor: pointer;
    float: right;
    width: 44%;
    top: -37px;
}
.button-login {
    display: flex;
    justify-content: center;
}
.forgot-password {
    text-align: center;
    margin: 20px 30px;
}
a {
    color: #0088fb;
    text-decoration: none;
}
.MuiFilledInput-underline:after {
    border-bottom: 2px solid #0088fb !important;
    
}
.MuiButton-contained {
    color: rgb(255, 255, 255) !important;
    
}
.MuiButton-contained:hover {
    background-color:rgb(255, 103, 0) !important;
   
}
.MuiFormLabel-root.Mui-focused{
    color: #0088fb !important;
}
.svg-inline--fa {
    display: inline-block;
    font-size: large;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
/* error notice*/
.error-notice{
    margin:1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    background-color: #f8d6d6;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 29%;
    left: 42%;
    width: 15%;
}
.error-notice button{
    background-color: #df4344;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
}
.bienvenido-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 19%;
    right: 46%;
}

