    body {
        background-color: white;
        font-family: "Avenir Next W01", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #1C242B;
    }

    * {
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    }

    form.content-form {
        margin-top: 13%;
    }

    

   




